<nav>
  <div class="nav-left">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >

    <!-- Tasks dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Tasks
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" routerLink="/tasks">Tasks</a></li>
        <li><a class="dropdown-item" routerLink="/db-tasks">DB Tasks</a></li>
      </ul>
    </div>

    <!-- Angular dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Angular
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li>
          <a class="dropdown-item" routerLink="/student">Angular Basics</a>
        </li>
      </ul>
    </div>

    <!-- C# Basics dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        C# Basics
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" routerLink="/basics">C# Basics</a></li>
        <li><a class="dropdown-item" routerLink="/di-demo">DI Demo</a></li>
        <li><a class="dropdown-item" routerLink="/oop">OOP</a></li>
        <li>
          <a class="dropdown-item" routerLink="/collections">Collections</a>
        </li>
        <li><a class="dropdown-item" routerLink="/delegates">Delegates</a></li>
        <li>
          <a class="dropdown-item" routerLink="/fundamentals">Fundamentals</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/control-flow">Control Flow</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/intermediate">Intermediate</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/advanced">Advanced</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-right">
    <a *ngIf="!user" routerLink="/login" class="btn btn-outline-light">Login</a>

    <div *ngIf="user" class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ user.email }}
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
        aria-labelledby="userDropdown"
      >
        <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
        <li>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
