<nav>
  <div class="nav-left">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/tasks"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Tasks</a
    >
    <a
      routerLink="/db-tasks"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >DB Tasks</a
    >
    <a
      routerLink="/di-demo"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >DI Demo</a
    >
    <a
      routerLink="basics"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >C# Basics</a
    >
    <a
      routerLink="oop"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >OOP</a
    >
    <a
      routerLink="collections"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Collections</a
    >
  </div>

  <div class="nav-right">
    <!-- IF NOT LOGGED IN -->
    <a *ngIf="!user" routerLink="/login" class="btn btn-outline-light">Login</a>

    <div *ngIf="user" class="dropdown">
      <button
        class="btn btn-dark dropdown-toggle"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ user.email }}
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
        aria-labelledby="userDropdown"
      >
        <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
        <li>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
